

/* Global styles
-----------------
colores

{"Independence":"3F4360","Silver Sand":"BFC3C8","Old Lavender":"696679","Roman Silver":"858397", "Gray Web":"807F84", "White":"FEFEFE"}




body{
background: url(/img/fondos21.png) no-repeat center fixed; 
background-size: cover;

}

-------------------*/


body{

    background-color: #203864;

}
img{

    width: 750px;

}



/* Barra de navegacion
-----------------
-------------------*/

.barrasblancas{



    background-color: white;
    padding: 40px;
    color: white;
    text-align: right;

}


.barrasazules{

    background-color: #3F4360;
    padding: 15px;
    color: white;
    text-align: right;

}




/* 
------------Branding----------------*/

.rellenar{

    background-color: #203864;

}

.branding2{

    margin-top: 150px;
    background-color: #203864;
    padding: 10px;

    transition: padding 2s;
    
  
}


.branding2:hover {
    margin-top: 150px;
    padding: 50px;
    background-color:#203864;
  }

.abajo{

    margin-top: 100px;
    padding-top: 150px;
}
.parrafos{

    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 3px black, 0 0 25px blue, 0 0 5px darkblue;
}


.parrafospequenos{


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    font-size: 18px;
    color:whitesmoke;
    text-shadow: 1px 1px 10px black, 0 0 25px white, 0 0 5px grey;
    background-color: #3F4360;
    padding: 15px;
    border: 2px solid #0099CC;
    border-radius: 8px;
   
  
}

.parrafospequenosdos{

    border: 2px solid #696679;
    padding: 10px;
    border-radius: 25px;

    padding: 10px;
    margin-top: 120px;
    text-align: center;
    font-size: 15px;
    color: white;
    
   
    background-color: #93A8AC;
}

.desplazar {
    width: 800px;
    height: 400px;
    background: #3F4360;
    transition: width 3s;
  }
  
  .desplazar:hover {
    width: 1000px;
    height: 400px;
  }


.boton {

    color: white;
    background: #807F84;
    font-size: 30px;
    padding: 15px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor:pointer;
    text-decoration: white;
 

}

.boton:hover{

    background: transparent;
    color:whitesmoke;
    border: 2px solid #0099CC;

}






/* Mision Vision
------------------------------------*/

.misionyvision{

    margin-top: 60px;
   
    padding-top: 70px;
    padding-bottom: 70px;
    background: #2E294E; 
    color: white;
    text-align: center;



}



.centrar{

    text-align: center;
    color: black;
}




.azulesdos{

    margin-top: 200px;
    font-size: 10px;
    color: white;
    text-shadow: 1px 1px 3px black, 0 0 25px blue, 0 0 5px darkblue;
}




/* Clientes
------------------------------------*/

.clientes{

  
    color:black;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    

}

.cuadrado{

    background-color:#3F4360;
    color:white;
    text-align: center;
    padding: 40px;
    font-size: 40px;
    
}


/* Nosotros
------------------------------------*/


.Nosotros{

    text-align: center;
    background-color:darkslategray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;


}



/* portafolio
------------------------------------*/

.portafolio{

    text-align: center;
    background-color:#858397;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    padding-top: 30px;
    padding-bottom: 30px;



}

.abajodos{

    margin-top: 30px;
    padding-top: 40px;
}

.abajotres{

    margin-top: 10px;
    padding-top: 50px;
}


.portafolioimagen{

    width: 300px;

}
.footer{

    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:darkslategray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:10px ;
    padding-bottom: 10px;


}


.tarjetas{
    padding-top: 20px;
    border: 2px solid #696679;
    
    border-radius: 25px;
 
    background-color: #3F4360;

}

/* portafolio
------------------------------------*/

.contactanos{


    background-color: #4f6d7a;
    text-align: center;
    color: white;
}

.contactanos2{


    background-color: #4f6d7a;
   
    color: white;

}

.portafoliocuadrado{

    background-color:#696679;
    color:white;
    text-align: center;
    padding: 40px;
    font-size: 40px;

    

}